<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
    </head>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'show_my_tasks' %}">My tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'list_projects' %}">My projects</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <body>
        <main>
            <div>
                <h1>{{ project_object.name }}</h1>
                <p>{{ project_object.description }}</p>
                <h2>Tasks</h2>
                <p>
                    <a href="{% url 'create_task' %}">Create a new task</a>
                </p>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% if project_object.tasks.all %}
                        {% for blank in project_object.tasks.all %}
                            <tr>
                                <td>{{ blank.name }}</td>
                                <td>{{ blank.assignee }}</td>
                                <td>{{ blank.start_date }}</td>
                                <td>{{ blank.due_date }}</td>
                                <td>{{ blank.is_complete|yesno }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p>This project has no tasks</p>
                    {% endif %}
                </table>
            </div>
        </main>
    </body>
</html>
